<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= ts("Listing subscriptions") %></h2>
<!--/descriptions-->

<!--subnav-->
<!--/subnav-->

<!--main content-->
<% unless @sub_series.empty? && @sub_users.empty? && @sub_works.empty? %>
  <% form_tag email_completed_user_subscription_path do %>
    <!-- work blurbs -->
    <%= render 'subscriptions/subscription_works' %>
    <!-- user blurbs -->
    <%= render 'subscriptions/subscription_users' %>
    <!-- series blurbs -->
    <%= render 'subscriptions/subscription_series' %>
    <%= submit_tag "Submit" %>
  <% end %>
<% end %>

